project:
  type: website
  output-dir: _site

website:
  title: "My Quarto Website"
  navbar:
    left:
      - href: index.html
        text: Home
      - href: workflow.html
        text: Workflow

format:
  html:
    theme: cosmo
    css: styles.css
    toc: true