project:
  type: website
  output-dir: _site

website:
  title: "My Quarto Website"
  navbar:
    left:
      - text: "Home"
        href: index.html
      - text: "Workflow"
        href: workflow.html

format:
  html:
    theme: cosmo
    css: styles.css
    toc: true
